<form nz-form [formGroup]="validateForm" autocomplete="off"
      (ngSubmit)="_submitForm()">

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label for="productName" nz-form-item-required>商品名称</label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <nz-input [nzSize]="'large'" formControlName="productName"
                [nzId]="'productName'"></nz-input>
      <div nz-form-explain
           *ngIf="getFormControl('productName').dirty&&getFormControl('productName').hasError('required')">
        请输入商品名称！
      </div>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label for="productIcon" nz-form-item-required>商品图片</label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <nz-input [nzSize]="'large'" formControlName="productIcon"
                [nzId]="'productIcon'"></nz-input>
      <div nz-form-explain
           *ngIf="getFormControl('productIcon').dirty&&getFormControl('productIcon').hasError('required')">
        请输入商品图片！
      </div>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label for="productDescription" nz-form-item-required>商品描述</label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <nz-input nzType="textarea" [nzSize]="'large'"
                formControlName="productDescription"
                [nzId]="'productDescription'"></nz-input>
      <div nz-form-explain
           *ngIf="getFormControl('productDescription').dirty&&getFormControl('productDescription').hasError('required')">
        请输入商品描述！
      </div>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label nz-form-item-required>商品价格</label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <nz-input-number [nzSize]="'large'" [nzMin]="0"
                       formControlName="productPrice"></nz-input-number>
      <div nz-form-explain
           *ngIf="getFormControl('productPrice').dirty&&getFormControl('productPrice').hasError('required')">
        请输入商品价格！
      </div>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label nz-form-item-required>商品大类</label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <nz-select formControlName="categoryId" nzPlaceHolder="请选择大类目"
                 (nzOpenChange)="setSmallCategory()" [nzSize]="'large'">
        <nz-option *ngFor="let category of categoryList"
                   [nzLabel]="category.categoryName" [nzValue]="category.categoryId"></nz-option>
      </nz-select>
      <div nz-form-explain
           *ngIf="getFormControl('categoryId').dirty&&getFormControl('categoryId').hasError('required')">
        请输入商品大类！
      </div>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label nz-form-item-required>商品小类</label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <nz-select formControlName="smallCategoryId" nzPlaceHolder="请选择小类目" [nzSize]="'large'">
        <nz-option *ngFor="let smallCategory of smallCategoryList" [nzLabel]="smallCategory.smallCategoryName"
                   [nzValue]="smallCategory.smallCategoryId"></nz-option>
      </nz-select>
      <div nz-form-explain
           *ngIf="getFormControl('smallCategoryId').dirty&&getFormControl('smallCategoryId').hasError('required')">
        请输入商品小类！
      </div>
    </div>
  </div>

  <div class="text-right">
    <button nz-button nzType="primary" type="submit" nzSize="large" [nzLoading]="">
      保 存
    </button>
    <button nz-button nzType="default" nzSize="large" (click)="handleCancel($event)">
      取 消
    </button>
  </div>
</form>
