<form nz-form [formGroup]="validateForm" autocomplete="off"
      (ngSubmit)="_submitForm()">

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label for="username" nz-form-item-required>用户名</label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <nz-input [nzSize]="'large'" formControlName="username"
                [nzId]="'username'"></nz-input>
      <div nz-form-explain
           *ngIf="getFormControl('username').dirty&&getFormControl('username').hasError('required')">
        请输入用户名！
      </div>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label for="password" nz-form-item-required>密码</label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <nz-input [nzSize]="'large'" nzType="password" formControlName="password" [nzId]="'password'"></nz-input>
      <div nz-form-explain
           *ngIf="getFormControl('password').dirty&&getFormControl('password').hasError('required')">
        请输入密码！
      </div>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label for="admin">是否超级用户</label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="admin">
        <span checked>是</span>
        <span unchecked>否</span>
      </nz-switch>
    </div>
  </div>

  <div class="text-right">
    <button nz-button nzType="primary" type="submit" nzSize="large" [nzLoading]="">
      保 存
    </button>
    <button nz-button nzType="default" nzSize="large" (click)="handleCancel($event)">
      取 消
    </button>
  </div>
</form>
