<nz-table #nzTable
          [nzDataSource]="dataList"
          [nzPageSize]="10"
          [nzLoading]="_loading"
          nzShowTitle="true" nzBordered="true" nzIsPagination="true" nzSize="small">
  <div nz-table-title class="text-right">
    <button nz-button nzType="primary"
            type="button" (click)="createUser()">添加用户
    </button>
  </div>
  <thead nz-thead>
  <tr>
    <th nz-th><span>登陆账号</span></th>
    <th nz-th nzWidth="150px"><span>是否超级管理员</span></th>
    <th nz-th nzWidth="150px"><span>操作</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let data of nzTable.data">
    <td nz-td>{{data.username}}</td>
    <td nz-td>{{data.admin}}</td>
    <td nz-td>
      <a href="javascript:" (click)="editUser(data)">修改</a>
      <span nz-table-divider></span>
      <a href="javascript:" (click)="delUser(data)">删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>
