<nz-table #nzTable
          [nzDataSource]="dataList"
          [nzPageSize]="10"
          [nzLoading]="_loading"
          nzShowTitle="true"
          nzBordered="true" nzIsPagination="true" nzSize="small">
  <div nz-table-title class="text-right">
    <button nz-button nzType="primary"
            type="button" (click)="createCategory()">添加大类目
    </button>
  </div>
  <thead nz-thead>
  <tr>
    <th nz-th nzExpand></th>
    <th nz-th><span>类目名称</span></th>
    <th nz-th><span>创建时间</span></th>
    <th nz-th><span>修改时间</span></th>
    <th nz-th nzWidth="100px"><span>操作</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <ng-container *ngFor="let data of nzTable.data">
    <tr nz-tbody-tr>
      <td nz-td nzExpand>
        <nz-row-expand-icon [(nzExpand)]="data.expand"></nz-row-expand-icon>
      </td>
      <td nz-td>{{data.categoryName}}</td>
      <td nz-td>{{data.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      <td nz-td>{{data.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      <td nz-td>
        <nz-dropdown>
          <a class="ant-dropdown-link" nz-dropdown>
            操作 <i class="anticon anticon-down"></i>
          </a>
          <ul nz-menu>
            <li nz-menu-item>
              <a href="javascript:" (click)="createSmallCategory(data)">添加子类目</a>
            </li>
            <li nz-menu-item>
              <a href="javascript:" (click)="editCategory(data)">修改类目名称</a>
            </li>
            <li nz-menu-item>
              <a href="javascript:" (click)="delCategory(data)">删除类目</a>
            </li>
          </ul>
        </nz-dropdown>
      </td>
    </tr>
    <ng-container *ngIf="data.expand">
      <tr nz-tbody-tr *ngFor="let smallCategory of data.productSmallCategories">
        <td nz-td nzExpand></td>
        <td nz-td>{{smallCategory.smallCategoryName}}</td>
        <td nz-td>{{smallCategory.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td nz-td>{{smallCategory.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td nz-td>
          <nz-dropdown>
            <a class="ant-dropdown-link" nz-dropdown>
              操作 <i class="anticon anticon-down"></i>
            </a>
            <ul nz-menu>
              <li nz-menu-item>
                <a href="javascript:" (click)="editSmallCategory(smallCategory,data)">修改类目名称</a>
              </li>
              <li nz-menu-item>
                <a href="javascript:" (click)="delSmallCategory(smallCategory)">删除类目</a>
              </li>
            </ul>
          </nz-dropdown>
        </td>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</nz-table>
